<h1> Welcome <%= current_user.name %>!</h1>

 
 <p>This is inspired by GoogleKeep. Feel free to use this as a way to save your thoughts online so that they are accessible whenever you need them. </p> 

 <p>
Create <a href="">NOTES </a>

or upload <a href="">PICTURES </a>.
</p>